* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background-image: linear-gradient(to right, #325573, #8FADBF, #99D0F2);
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
#menu{
    display: flex;
    gap: 32px;
}
#menu a{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffaccf;
    font-weight: 400;
    font-size: 18px;
}
h1, h2, h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 253, 253);
}

p{
    font-size: 20px;
    color: #fff;
    text-align: center;
}
#botaoTexto{
    font-size: 10px;
    text-align: justify;
}

#contato{
    width: auto;
    color: rgb(241, 241, 241);
    font-weight: bold;
}

#mensagem{
    width:350px;
    height:100px;
}

#slide{
    height:400px;
}

#texto{
    padding:15px;
    width: 100%;
}

#textoHome{
    font-size: 22px;
    text-align: justify;
    line-height: 1.2;
}

/*
.container{
    width: 100%;
    height: 900px;
    margin: auto;
}
#menu{
    width: 100%;
    height: 150px;
    text-align: center;
}

#menu ul li{
    list-style: none;
    display: inline;
    padding: 4px;
    font-weight: bold;
    text-align: center;
}

#menu ul li a{
    font-size: 20px;
    text-transform: uppercase;
    color: #e70062;
    text-align: center;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

#menu ul li a:hover{
    background-color: #e70062;
    color: #ffaccf;
    padding: 4px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
*/