@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@200&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    padding:2px;
}

body{
    font-size: 100%;
    background-image: linear-gradient(to right, #325573, #8FADBF, #99D0F2);
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
#menu{
    display: flex;
    gap: 32px;
}
#menu a{
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: white;
    font-weight: 400;
    font-size: 18px;
}
#menu a:hover{
    background-color: #325573;
    color: #99D0F2;
    padding: 4px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    border-radius: 10px;
}

h1, h2, h3{
    font-family: 'Lobster', cursive;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 253, 253);
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
#botaoTexto{
    font-size: 10px;
    text-align: justify;
}

#contato{
    width: auto;
    color: rgb(241, 241, 241);
    font-weight: bold;
}

#mensagem{
    width:350px;
    height:100px;
}

#slide{
    height:400px;
}

#texto{
    font-family: 'Nunito', sans-serif;
    padding:15px;
    width: 100%;
    color: white;
}

#textoHome{
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-align: justify;
    line-height: 1.2;
    color: white;
}

#textoSobre{
    font-family: 'Nunito', sans-serif;
    padding:15px;
    font-size: 22px;
    text-align: justify;
    line-height: 1.2;
    color: white;
}

#mapa{
    text-align: center;
    padding:12px;
}

#tituloSecaoProduto{
    font-family: 'Nunito', sans-serif;
    text-align:justify;
    color: white;
}

#racoesProdutos{
    display: flex;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 40px;
    margin-right: 10px;
}

.itens{
    width: 250px;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    border-color: white;
    cursor:pointer;
    text-align: center;
    padding:10px;
}

.itens img{
    transition: 500ms linear;
}

.itens img:hover{
    transform: scale(1.1);
}

.itens button{
    background-color: #99D0F2;
    color: white;
    border:none;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    cursor:pointer;
    transition: 500ms linear;
}

.itens button:hover{
    transform: scale(1.1);
}

#tituloProduto{
    font-family: 'Nunito', sans-serif;
    font-size: 17px;
    color: white;
}

#brinquedosProdutos{
    display: flex;
    justify-content: space-between;
    padding-top:10px;
    padding-left: 40px;
    margin-right: 10px;
}

footer{
    font-family: 'Nunito', sans-serif;
    margin-top:auto;
    text-align: center;
    color: white;
    font-size: 20px;
}