@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Nunito+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    padding:2px;
}

body{
    font-size: 100%;
    background-image: linear-gradient(68.15deg, #dfc0f5 16.62%, #3a0f59 85.61%);
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}
.cabecalho-img{
    height: 150px;
}
#menu{
    display: flex;
    gap: 32px;
}
#menu a{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    color: white;
    font-weight: 400;
    font-size: 18px;
}
#menu a:hover{
    color: #99D0F2;
    padding: 4px;
    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    border-radius: 10px;
}
#slides{
    
}

h1, h2, h3{
    padding-top: 1%;
    font-family: 'Lobster Two', cursive;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    color: rgb(255, 253, 253);
}

p{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    color: #fff;
    text-align: center;
}
#contato{
    padding: 1%;
}
#botaoTexto{
    font-size: 10px;
    text-align: justify;
}

#contato{
    width: auto;
    color: rgb(241, 241, 241);
    font-weight: bold;
}

#mensagem{
    width:350px;
    height:100px;
}
#botaoQuiz{
    background-color: #99D0F2;
    color: white;
    text-transform: uppercase;
    margin-left: 47%;
    font-family: 'Nunito Sans', sans-serif;
    width: 100px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px #325573;
    border-radius: 20px;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
#botao{
    background-color: #99D0F2;
    color: white;
    text-transform: uppercase;
    margin-left: 47%;
    font-family: 'Nunito Sans', sans-serif;
    width: 80px;
    height: 40px;
    border: none;
    box-shadow: 4px 5px 4px #325573;
    border-radius: 20px;
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
#textoQuiz{
    font-size: 25px;
}
#slide{
    height:400px;
}

#texto{
    font-family: 'Nunito Sans', sans-serif;
    padding:15px;
    width: 100%;
    color: white;
}

#textoHome{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 22px;
    text-align: justify;
    line-height: 1.2;
    color: white;
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    line-height: auto;
}

#textoSobre{
    font-family: 'Nunito Sans', sans-serif;
    padding:15px;
    font-size: 22px;
    text-align: justify;
    line-height: 1.2;
    color: white;
    padding-top: 1%;
    padding-left: 20%;
    padding-right: 20%;
    line-height: auto;
}

#mapa{
    text-align: center;
    padding:12px;
}

#tituloSecaoProduto{
    font-family: 'Nunito Sans', sans-serif;
    text-align:justify;
    color: white;
}

#racoesProdutos{
    display: flex;
    justify-content: space-between;
    padding-top:10px;
    padding-bottom:10px;
    padding-left: 40px;
    margin-right: 10px;
}

.itens{
    width: 250px;
    border-style: solid;
    border-radius: 10px;
    border-width: thin;
    border-color: white;
    cursor:pointer;
    text-align: center;
    padding:10px;
}

.itens img{
    transition: 500ms linear;
}

.itens img:hover{
    transform: scale(1.1);
}

.itens button{
    background-color: #99D0F2;
    color: white;
    border:none;
    width: 80px;
    height: 40px;
    border-radius: 5px;
    cursor:pointer;
    transition: 500ms linear;
}

.itens button:hover{
    transform: scale(1.1);
}

#tituloProduto{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 17px;
    color: white;
}

#brinquedosProdutos{
    display: flex;
    justify-content: space-between;
    padding-top:10px;
    padding-left: 40px;
    margin-right: 10px;
}

footer{
    font-family: 'Nunito Sans', sans-serif;
    margin-top: auto;
    text-align: center;
    color: white;
    font-size: 20px;
    padding-top: 2%;
}